div.contactCard {
	width: 200px;
	height: auto;
	display: inline-block;
	font-size: 14px;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

p {
	margin: 0px;
}

p#fullName {
	font-weight: bold;
}

form {
	display: none;
}
form.editing{
	display: inline-block;
}

form.editing > input {
	width: auto;
	height: 14px;
	font-size: 14px;
	display: inline-block;
}