#create>img {
	width: 25px;
	padding: 2px;
	margin-top: -50px;
	margin-right: 10px;
	float: right;
	background-color: white;
	opacity: 0.4;
}

#change>img {
	width: 25px;
	padding: 2px;
	margin-top: -5px;
	margin-right: -5px;
	float: right;
	background-color: white;
	opacity: 0.4;
}

#create>img.selected {
	opacity: 1.0;
}

header {
	font-size: 23px;
	font-family: fantasy;
	color: white;
	background-color: rgb(160, 203, 0);
	margin-top: -8px;
	padding: 20px;
	margin-left: -8px;
	margin-right: -8px;
}
div.contactCard {
	width: 200px;
	height: 145px;
	display: inline-block;
	font-size: 14px;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

div#change {
float: right;
margin-top: -107px;
}

p#fullName {
	font-weight: bold;
}

form {
	display: none;
}

.editing {
	position: fixed;
	width: 200px;
	background-color: rgb(255, 255, 201);
	margin-top: -113px;
	padding-left: 10px;
	margin-left: -5px;
	padding-bottom: 17px;
}

.editing>input[type="text"] {
	border: none;
	border-bottom: 1px solid grey;
	height: 20px;
	background-color: rgb(255, 255, 201);
}

.contactCard>p {
margin-bottom: -12px;
}

form.create {
	width: 200px;
	font-size: 15px;
	padding: 15px;
	position: absolute;
	background-color: rgb(190, 224, 105);
	right: 47px;
	top: 18px;
}
.create>input[type="text"] {
	background-color: rgb(190, 224, 105);
	border: none;
	border-bottom: 1px solid grey;
	padding: 7px;
}
div#submit {
	font-size: 25px;
	float: right;
	margin-top: 13px;
	margin-bottom: -8px;
}
div#noEdit {
	position: fixed;
	margin-top: -135px;
	margin-left: 180px;
	font-size: 18px;
}

footer {
	font-family: sans-serif;
	font-size: 9px;
	text-align: center;
	margin: 165px;
	color: rgb(219, 219, 219);
}